.container{
    margin-top: 50px;
 
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */

}
.ButtonSelect{
    font-style: bold;
    margin-bottom: 20px;
    background-color: rgb(19, 21, 22);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    font-size: 12px;
    opacity: 0.9;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-color: aqua;
    font-family: 'Roboto', sans-serif;
    width: 250px;
}

