.container {
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;

}

.card{
  margin-top: 150px;
  margin-bottom: 20px;
}

@media (max-width: 414px) {
    .container {
      margin-top: 0px;
      padding: 30px;
    }
  }