
.container{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.table th{
    border-bottom: 1px solid #ffffff;
    
}

.table table{
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
    margin-top: 40px;
   background-color: rgb(0, 0, 0);
   box-shadow: #000000 0px 0px 10px;
   border-radius: 10px;
   
   

}
.table td{
    
    padding: 10px;
    font-size:16px;
    
}
.table tr:nth-child(even){
    background-color: #5a2222;
    
}
.table img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
  
   
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}